@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
    margin: 0;
    padding: 0;
}

/* Head Section */
.head-element-section {
    margin: auto;
    min-height: 100vh;
    background: url('../assets/image/BG-MEMPELAI.jpg');
    background-size: cover;
}

.head-element-section {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
}

.head-element-section .container .title-wedding h6 {
    margin: auto;
    padding-top: 50px;
    letter-spacing: 5px;
    font-size: 15px;
    color: black;
    font-family: poppins;
    font-weight: 400;
}

.head-element-section .container .title-nick-title {
    display: flex;
    align-items: center;
    justify-content: center;
}



.head-element-section .container .title-nick-title h1 {
    margin: auto;
    display: flex;
    font-size: 55px;
    font-family: "Satisfy", cursive;
    color: black;
    text-align: center;
    font-weight: 800;
}

.head-element-section .container .title-heading span {
    font-size: 50px;
    font-family: "Satisfy", cursive;
    color: black;
}

.head-element-section .container .btn-online {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-family: inter;
    border-radius: 8px;
    font-size: 12px;
}

.head-element-section .container .image-items img {
    padding: 0;
    margin-top: -30px;
}

.head-element-section .container .btn-online:hover {
    padding: 10px 20px;
    background-color: #fff;
    color: black;
    text-decoration: none;
    font-family: inter;
    border-radius: 8px;
    cursor: pointer;
}

.head-element-section .container .title-tamu {
    margin-top: -50px;
}

.head-element-section .container .title-tamu {
    padding: 30px 0;
}

.head-element-section .container .title-tamu h6 {
    margin: auto;
    color: black;
    font-size: 15px;
    font-family: poppins;
    font-weight: 600;
}

.head-element-section .container .title-tamu h3 {
    margin: auto;
    font-size: 17px;
    font-weight: 700;
}

.head-element-section .container .title-tamu p {
    color: black;
    font-family: poppins;
    font-size: 12px;
    font-weight: 500;
}

.head-element-section .container .title-tamu h3 {
    color: black;
    font-family: poppins;
    font-size: 17px;
}

/* Invite */
.element-invite {
    margin: auto;
    width: 400px;
    min-height: 100vh;
    background-image: url('../assets/image/BG-\ RES.jpg');
    background-size: cover;
    font-family: inter;
}

.element-invite .container {
    display: flex;
    padding: 30px;
    text-align: center;
    align-content: center;
}

.element-invite .container .content-items-invite {
    background: #fff;
    min-height: 500px;
    border-radius: 17px;
    padding: 60px 10px;
}

.element-invite .container .content-items-invite span {
    margin-top: -60px;
    font-size: 60px;
    font-family: "Satisfy", cursive;
}

.element-invite .container .title-heading h3 {
    font-size: 20px;
    font-family: poppins;
    font-weight: 700;
}

.element-invite .container .title-heading h4 {
    font-size: 12px;
    text-align: center;
    font-weight: 400px;
    font-family: poppins;
    line-height: 25px;
}

.element-invite .container .title-mempelai-perempuan {
    padding: 20px 0;
}

.element-invite .container .title-mempelai-perempuan h1 {
    font-family: "Satisfy", cursive;
    font-size: 35px;
    font-weight: 800;
}

.element-invite .container .title-mempelai-pria h1 {
    font-family: "Satisfy", cursive;
    font-size: 35px;
    font-weight: 800;
}

.element-invite .container .title-mempelai-perempuan h5 {
    padding: 5px 0;
    font-family: poppins;
    font-size: 13px;
}

.element-invite .container .title-mempelai-pria h5 {
    padding: 5px 0;
    font-family: poppins;
    font-size: 13px;
}

/* Akad */
.element-akad {
    margin: auto;
    width: 400px;
    min-height: 100vh;
    background-image: url('../assets/image/bgdate.jpg');
    background-size: cover;
    font-family: poppins;
}

.element-akad .container {
    padding: 120px 20px;
}

.element-akad .container .element-akad-nikah {
    padding: 60px 0;
}

.element-akad .container .title-heading-akad h1 {
    font-weight: 700;
    font-size: 40px;
}

.element-akad .container .title-date-akad h2 {
    font-size: 25px;
}

.element-akad .container .element-save-date .btn-save-date {
    text-align: center;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-family: inter;
    border-radius: 8px;
    font-size: 12px;
}

/* Qoutes */
.element-qoutes {
    margin: auto;
    width: 400px;
    min-height: 100vh;
    background-image: url('../assets/image/BG-\ RES.jpg');
    background-size: cover;
}

.element-qoutes .container {
    padding: 30px 20px;
}

.element-qoutes .container img {
    width: 100%;
    border: 10px solid white;
    border-radius: 14px;
}

.element-qoutes .container p {
    padding: 10px 0;
    font-size: 15px;
    font-family: poppins;
}

/* Galery */
.element-galery {
    margin: auto;
    width: 400px;
    min-height: 100vh;
    background-image: url('../assets/image/BG-\ RES.jpg');
    background-size: cover;
}

.element-galery .container p {
    font-size: 14px;
    font-family: poppins;
}

.element-galery .container {
    align-items: center;
    text-align: center;
    padding: 30px;
}

.element-galery .container .element-content-galery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid: 5px;
}

.element-galery .container .element-content-galery img {
    width: 100%;
    padding: 10px 7px;
}

/* Maps */
.element-maps {
    margin: auto;
    width: 400px;
    min-height: 100vh;
    background-image: url('../assets/image/BG-\ RES.jpg');
    background-size: cover;
}

.element-maps .container {
    padding: 60px 15px;
    align-items: center;
    justify-items: center;
}

.element-maps .container h1 {
    padding: 20px 0;
    font-size: 45px;
    font-family: poppins;
}

/* RSVP */
.element-rsvp {
    margin: auto;
    padding: 30px 20px;
    width: 400px;
    min-height: 100vh;
    background-image: url('../assets/image/BG-\ RES.jpg');
    background-size: cover;
}

.element-rsvp .container p {
    font-family: poppins;
    font-size: 13px;
}

.element-rsvp .container .element-kado-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 10px;
}

.element-rsvp .container .element-kado-items img {
    width: 120px;
}

.element-rsvp .container .element-kado-items .bank-mandiri {
    padding: 40px 25px;
    background-color: #fff;
    border-radius: 8px;
}

.element-rsvp .container .element-kado-items .dana-items {
    padding: 40px 25px;
    background-color: #fff;
    border-radius: 8px;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    text-align: left;
}

input,
select,
button {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
}

button {
    background-color: #25D366;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #1DA851;
}

#responseMessage {
    margin-top: 20px;
    font-size: 18px;
    color: #4CAF50;
}

/* Mobile Responsive */
@media only screen and (max-width: 600px) {

    .head-element-section {
        width: 350px;
        margin: auto;
        min-height: 100vh;
    }

    /* Invite */
    .element-invite {
        margin: auto;
        width: 350px;
        min-height: 100vh;
        background-color: #BFC1CB;
        font-family: inter;
    }

    .element-invite .container {
        display: flex;
        padding: 30px 30px;
        text-align: center;
        align-content: center;
    }

    .element-invite .container .content-items-invite {
        background: #fff;
        min-height: 500px;
        border-radius: 24px;
        padding: 60px 20px;
    }

    .element-invite .container .content-items-invite span {
        margin-top: -60px;
        font-size: 60px;
        font-family: "Satisfy", cursive;
    }

    .element-invite .container .title-heading h3 {
        font-size: 25px;
        font-family: poppins;
        font-weight: 700;
    }

    .element-invite .container .title-heading h4 {
        font-size: 14px;
        text-align: center;
        font-weight: 400px;
        font-family: poppins;
        line-height: 25px;
    }

    .element-invite .container .title-mempelai-perempuan {
        padding: 20px 0;
    }

    .element-invite .container .title-mempelai-perempuan h1 {
        font-family: "Satisfy", cursive;
        font-size: 40px;
        font-weight: 800;
    }

    .element-invite .container .title-mempelai-pria h1 {
        font-family: "Satisfy", cursive;
        font-size: 40px;
        font-weight: 800;
    }

    .element-invite .container .title-mempelai-perempuan h5 {
        padding: 5px 0;
        font-family: poppins;
        font-size: 15px;
    }

    .element-invite .container .title-mempelai-pria h5 {
        padding: 5px 0;
        font-family: poppins;
        font-size: 15px;
    }

    /* Akad */
    .element-akad {
        margin: auto;
        width: 350px;
        min-height: 100vh;
        background-color: #D7D7D7;
    }

    .element-akad .container {
        padding: 30px 20px;
    }


    .element-akad .title-heading-akd h1 {
        font-family: poppins;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
    }

    .element-akad .container .content-tgl-items {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    .element-akad .container .content-tgl-items h6 {
        margin: auto;
        font-size: 25px;
        font-family: inter;
        font-weight: 400;
    }

    .element-akad .container .content-tgl-items .items-date h6 {
        font-weight: 700;
        font-size: 30px;
    }

    .element-akad .container .content-tgl-items .items-date {
        padding: 0 10px;
        border-right: 2px solid black;
        border-left: 2px solid black;
    }

    /* Qoutes */
    .element-qoutes {
        margin: auto;
        width: 350px;
        min-height: 100vh;
        background-color: #BFC1CB;
    }

    .element-qoutes .container {
        padding: 30px 20px;
    }

    .element-qoutes .container img {
        width: 100%;
        border: 10px solid white;
        border-radius: 14px;
    }

    .element-qoutes .container p {
        padding: 10px 0;
        font-size: 15px;
        font-family: poppins;
    }

    /* Galery */
    .element-galery {
        margin: auto;
        width: 350px;
        min-height: 100vh;
        background-color: #D7D7D7;
    }

    /* Maps */
    .element-maps {
        margin: auto;
        width: 350px;
        min-height: 100vh;
        background-color: #BFC1CB;
    }

    .element-maps .container {
        padding: 60px 24px;
        align-items: center;
        justify-items: center;
    }

    .element-maps .container h1 {
        padding: 20px 0;
        font-size: 45px;
        font-family: poppins;
    }

    .element-maps iframe {
        width: 150px;
    }

    /* RSVP */
    .element-rsvp {
        margin: auto;
        width: 350px;
        min-height: 100vh;
    }
}